@{
    ViewData["Title"] = "Liste des audits";
    int pageIndex = ViewBag.PageIndex;
}
@using SFN_MODEL.MODEL
@model IEnumerable<JsonAudit>

<br>
<br>
<br>
<br>
<div class="text-center">
   
    <br>
    <br>

    <div class="container" style="height: 800px !important;overflow: overlay;">
        <div class="row">

            <div class="col-12 col-lg-12 m-auto">
                <div style="overflow-x: scroll; width: 100%!important;max-height: 800px !important;">
                    <table class="table " id="Table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Matricule audité
                                </th>
                                <th scope="col">
                                    Fonction audité
                                </th>
                                <th scope="col">
                                    Action audité
                                </th>
                                <th scope="col">
                                   Date d'audition
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="bg-white" scope="row">
                                            <td>
                                                @item.matriculeUser
                                            </td>

                                            <td>
                                                @item.fonctAuditer
                                            </td>
                                            <td>
                                                @item.actionAudit
                                            </td>

                                            <td>
                                                @item.dateCreationAudit.ToString("G")
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <div>

                        <a href="@Url.Action("Index", "Audit", new { pageIndex = pageIndex - 1 })" class="btn btn-outline-warning btn-block" style="float:left">Précédent</a>


                        <a href="@Url.Action("Index", "Audit", new { pageIndex = pageIndex + 1 })" class="btn btn-primary btn-block" style="float:right">Suivant</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
